<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>bwmodulesetup</name>
	<displayName><![CDATA[Setup new module]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This module setup new module]]></description>
	<author><![CDATA[Bwlab]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
